spring.application.name=demo
telegram.bot.token=ВАШ_ТОКЕН_БОТА
openai.api.key=ВАШ_OPENAI_КЛЮЧ
telegram.bot.username=vzletaudit_bot
openai.api.key=ВАШ_OPENAI_КЛЮЧ
bitrix24.webhook=https://???-??????.bitrix24.ru/rest/1/???_??????/
telegram.chat.url=https://t.me/vzlet_agency
serpapi.key=???_????_??_serpapi
telegram.bot.connection.timeout=60

